body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.top-container {
  background-color: #94B49F;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Barlow', sans-serif;
  font-weight: lighter;
  font-size: 5.625rem;
  color: #CEE5D0;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #081f2e;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #FFB200;
}

hr {
  border-color: #BBBFCA;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 3%;
  margin: 100px auto;
}

p {
  line-height: 2;
  color: #081f2e;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #CEE5D0;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #3498db;
}

.intro-one {
  width: 50%;
  margin: 40px auto 0;
}

.intro-two {
  font-style: italic;
  font-size: 0.90rem;
  width: 50%;
  margin: 20px auto 0;
}

.middle-container {
  margin: 100px auto;
}

.skills{
  margin: 100px auto;

}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}

.sleep-img {
  width: 20%;
  float: left;
  margin-left: 30px;
}

.dev-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.cate-img {
  width: 30%;
  float: right;
  margin-left: 30px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.bottom-container {
  background-color: #94B49F;
  padding: 50px 0 20px;
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  color: #CEE5D0;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #FFB200;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  color: #ffffff;
  background: #3498db;
  text-decoration: none;
}
